{% extends "base.html" %}

{% block title %}Your Children's Accounts{% endblock %}
{% block page_title %}Your Children's Accounts{% endblock %}

{% block header_link %}
  <p><a href="/account_new">Add a New Account</a></p>
{% endblock %}

{% block main_content %}
<div id="accounts_left" class="grid_6 ">
    {% for account in accounts_left %}
      {% if account.child_image %}
      <img src="/pic?account={{ account.key.urlsafe }}" width=200 height=200 />
      {% endif %}
        <p>
          <h3>{{ account.child_first_name}}</h3>
	  Account opened: {{ account.getOpenDatetime }}<br />
          Starting balance:
          {{ account.getOpeningBalanceForPrinting }} <br />
          Current balance: {{ account.getBalanceForPrinting }} <br />
          Interest: {{ account.interest_rate }}% compounded
          {{ account.interest_compound_frequency }} <br />
          Allowance: {{ account.getAllowanceAmountForPrinting }}
          {{ account.allowance_frequency}}
          <br />
          <a href="/account_edit?account={{ account.key.urlsafe }}">edit</a>
          |
          <a href="/transaction_list?account={{ account.key.urlsafe }}">view transactions</a>
          |
          <a href="/transaction_new?account={{ account.key.urlsafe }}">add transaction</a>
      </p>
    {% endfor %}
</div>

<div id="accounts_right" class="grid_6">
    {% for account in accounts_right %}
      {% if account.child_image %}
      <img src="/pic?account={{ account.key.urlsafe }}" width=200 height=200 />
      {% endif %}
        <p>
          <h3>{{ account.child_first_name}}</h3>
	  Account opened: {{ account.getOpenDatetime }}<br />
          Starting balance:
          {{ account.getOpeningBalanceForPrinting }} <br />
          Current balance: {{ account.getBalanceForPrinting }} <br />
          Interest: {{ account.interest_rate }}% compounded
          {{ account.interest_compound_frequency }} <br />
          Allowance: {{ account.getAllowanceAmountForPrinting }}
          {{ account.allowance_frequency}}
          <br />
          <a href="/account_edit?account={{ account.key.urlsafe }}">edit</a>
          |
          <a href="/transaction_list?account={{ account.key.urlsafe }}">view transactions</a>
          |
          <a href="/transaction_new?account={{ account.key.urlsafe }}">add transaction</a>
      </p>
    {% endfor %}
</div>
{% endblock %}
