<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/grid.css" />
  <title>Allowance Bank - {% block title %}Kid Savings Accounts{% endblock %}</title>
  <script type="text/javascript" src="/javascript/date.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<div id="header" class="container_12">

<div id="header_contents" class="grid_12 ">
    <h1>{% block page_title %}Allowance Bank{% endblock %}</h1>
    {% block header_link %}{% endblock %}
    <p><a href="/howto">How-To</a></p>
</div>

</div>



<div id="content" class="container_12">
{% block main_content %}{% endblock %}
</div>



<div id="footer" class="container_12">

<div id="footer_contents" class="grid_12 ">
    <a href="{{ url }}">{{ url_linktext }}</a>
  <p>
    Copyright, links, blah blah blah.
  </p>
</div>

</div>


</body>
</html>
